<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

<body>
    <%- include('header'); %>

    <main>
        <div>
            <h1>Sobre</h1>
            <p>atividade para estudo do EJS</p>
        </div>
    </main>

<%- include('footer'); %>
</body>
</html>